<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="data">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>{{data.tab1}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="receipt-outline"></ion-icon>
      <ion-label>{{data.tab2}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>{{data.tab3}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>